.bang{
    &__bg{
        z-index: -1;

        &::before{
            content:"";
            background: #220360;
            filter: blur(20px);
            z-index: 1;
            position: absolute;
            top: -50px;
            left: -50%;
            width: 200%;
            height: 100px;
        }
        &::after{
            content:"";
            background: #220360;
            filter: blur(20px);
            z-index: 1;
            position: absolute;
            bottom: -50px;
            left: -50%;
            width: 200%;
            height: 100px;
        }
    }
    &__text{
        color: #CDC6FF;
        &:before{
            content:"";
            display: block;
            width: 5px;
            height:calc(100% + 20px);
            background: linear-gradient(180deg, #DB205B 0%, rgba(112, 0, 211, 0.55) 100%);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__img{
      // transform: rotate(180deg);
      transition: all 2s ease 0s;
      transform: translateX(150%);
      &._active{
        transform: translateX(0%);
        animation: astronaut 100s linear 2s infinite normal none;
      }
    }
}

@keyframes astronaut {
  0% {
      transform: rotate(0deg);
    // opacity: 0;
    // -webkit-transform: translate3d(100%,0,0);
    // transform: translate3d(100%,0,0);
}

100% {
      transform: rotate(360deg);
    // opacity: 1;
    // -webkit-transform: translateZ(0);
    // transform: translateZ(0);
}
}