//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//

.footer{
    background: url("../img/footer/bg.png") 0 0/cover no-repeat;
    &__list{
        li{
            @media (any-hover:hover) {
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: #6C00D2;
                }
            }
        }
    }

    &__networks{
        li{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #FFF;

            @media (any-hover:hover) {
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover{
                    background-color: #6C00D2;
                    border-color: #6C00D2;
                }
            }
        }
    }

    &__rights{
        border-top: 2px solid rgba(255, 255, 255, 0.10);        ;
    }
}