.jackpot{

    &__body{
        z-index: 1;
        &::before{
            content: url('../img/jackpot/bg.png');
            position: absolute;
            left: -15%;
            top: -40%;
            z-index: -1;
        }
    }
    &__left{
        max-width: 470px;
    }
    &__right{
        max-width: 507px;
    }
    &__list{
        li{
            &::before{
                content: "";
                display: block;
                position: absolute;
                background-color: #CDC6FF;
                height: 4px;
                width: 4px;
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    @media (max-width:1076px) {
        &__left{
            max-width: 650px;
        }
    }
}