.main{
  &__bg{
    z-index: -1;
    min-height: calc(100vh + 115px);
    top: -115px
  }

  &__title{
    font-family: $fontChakra;
    letter-spacing: -3px;
    text-shadow: 0 0 2px #fff;
    color: #fff;

   }
   @supports (-webkit-text-stroke: 1px white) {
    &__title {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 2px #fff;
    }
  }

  &__winnings{
    font-family: $fontChakra;
    letter-spacing: -3.64px;

    &:after{
      content: url("../img/main/winning.png");
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }
  &__contract{
    letter-spacing: 0.33px;
  }
  &__subtitle{
    font-family: $fontChakra;
  }
  &__timer{
    &-title{
      letter-spacing: 1.05px;
    }
  }
  &__time{
    font-family: $fontChakra;
    border-radius: 8px;

    color: #fff;
    position: relative;
    background: transparent;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      background: linear-gradient(180deg, #EA4835 2.29%, #AD2484 49.7%, #7000D3 68.56%);
      padding: 2px;
      border-radius: 8px;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    
    &::after{
      content: "";
      background: linear-gradient(264.86deg, #D74037 2.29%, #E94A68 49.7%, #D735AC 68.56%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;  
      z-index: -1;
      transition: all 0.3s ease 0s;
      opacity: 0;
    }
  }
  &__progress{
    &__title{
      letter-spacing: -0.09px;
    }
  }
  &__right{
    width: 100%;
    max-width: 542px;
  }
  &__form{
    border: 1.3px solid #463693;
    background: rgba(54, 15, 138, 0.90);
    box-shadow: 0px 4px 104px 0px rgba(0, 0, 0, 0.25) inset;
  }
  &__form-title{
    font-family: $fontChakra;
  }
  &__select-img{
    img{
      max-width: 35px;
      max-height: 35px;
    }
  }
  &__form-input-body{
    border-radius: 30px;
    background: rgba(34, 9, 112, 0.64);
    position: relative;
    overflow: hidden;
    // background-color: transparent;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      background: linear-gradient(130deg, #EA4835 2.29%, #A03364 49.7%, #561D93 100%);
      padding: 1px;
      border-radius: 30px;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }
  &__calc-item-bottom{
    color: #CDC6FF;
  }

  &__form-button{
    z-index: 1;
  }
  &__links{
    a{
      @media (any-hover:hover){
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
          color: #EB4834;
        }
      }
    }
  }

}