//< " ПОДКЛЮЧАЕМ ФАЙЛ С ШРИФТАМИ " >=============================================================================================================>//
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@600;700&family=Fira+Sans:wght@500&family=Roboto:wght@400;500&display=swap');
// 01
@font-face {
  font-family: 'Qanelas Soft';
  src: local('Qanelas Soft Medium'), local('Qanelas-Soft-Medium'),
      url('../fonts/Qanelas-Medium.woff2') format('woff2'),
      url('../fonts/Qanelas-Medium.woff') format('woff'),
      url('../fonts/Qanelas-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// 02


// 03